<section class="subscribe col-md-12">
    <div class="container">
        <label class="subscribe-label" for="subscribe">Zapisz się na subskrypcję i zostań z nami w kontakcie</label>
        <input class="subscribe-input" id="subscribe" name="subscribe" type="text"/>
        <input class="subscribe-submit" type="submit" value="subscribe"/>
    </div>
</section>