$color-white: #fff;
$color-gray: #575c5b;
$color-black: #000;
$color-purple: #474284;
$color-purple-alpha: rgba(71, 66, 132, .6);
$color-aqua: #235d85;
$color-aqua-alpha: rgba(35, 93, 133, .6);
$colo-blue-boston: #338eab;