<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body{% if bodyclass is defined %} class="{{ bodyclass }}"{% endif %}>
        {% include 'layout/navigation.html.twig' %}
        {% include 'layout/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'components/subscribe.html.twig' %}
        {% include 'layout/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/scripts.js') }}"></script>
    </body>
</html>