{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<section class="form container">
{% include "@FOSUser/Registration/register_content.html.twig" %}
</section>
{% endblock fos_user_content %}
