<footer class="footer">
    <div class="container">
        <div class="footer-about col-md-4">
            <h2>{ { Kupela od Kodu } }</h2>
            <p>Lotem ipsum, lorem lorem and lorem i ipsum</p>
        </div>
        <div class="footer-posts col-md-4">
            <h3 class="footer-post_header">Najnowsze posty</h3>
            <div class="footer-posts_item">
                <p>Lorem ipsum Title</p>
                <p>Listopad 11 2017</p>
            </div>
            <div class="footer-posts_item">
                <p>Lorem ipsum Title</p>
                <p>Listopad 21 2017</p>
            </div>
        </div>
        <div class="footer-events col-md-4">
            <h3 class="footer-post_header">Zbliżające się eventy</h3>
            <div class="footer-events_item">
                <img src=".."/>
                <p>Nazwa eventu</p>
                <p>Data eventu</p>
            </div>

        </div>
    </div>
    <div class="container-fluid row-line">
        <div class="container">
            <div class="row">
                <div class="footer-legal col-md-12">
                    <div class="footer-legal_copyright col-md-6">
                        <p>Copyright 2017</p>
                    </div>
                    <div class="footer-legal_rules col-md-6">
                        <p>Polityka prywatności</p>
                        <p>Zasady</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>