<section class="header">
    <div class="header-carousel">
        <div class="header-carousel_item"><img src="/img/learning-girls.jpg"></div>
        <div class="header-carousel_item"><img src="/img/learning-girls.jpg"></div>
        <div class="header-carousel_item"><img src="/img/learning-girls.jpg"></div>
    </div>
</section>