<section class="header">
    <div class="container-fluid">
        <div class="header-carousel">
            <div class="header-carousel_item"><img src="/img/learning-girls.jpg"></div>
            <div class="header-carousel_item"><img src="/img/learning-girls.jpg"></div>
            <div class="header-carousel_item"><img src="/img/learning-girls.jpg"></div>
        </div>
    </div>
</section>