.footer {
    min-height: 200px;
    padding:  20px;
    color: $color-white;
    background: $color-purple-alpha;
    background: linear-gradient(to right, $color-purple-alpha, $color-aqua);
    h2,
    h3 {
        font-weight: 600;
    }
    h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
    .row-line {
        border-top: 1px solid $color-white;
    }
    .col-md-4 {
        padding-right: 50px;
    }
    &-about,
    &-posts,
    &-events {
        padding: 40px;
    }
    &-legal {
        padding-top: 25px;
        &_copyright,
        &_rules {
            display: inline-block;
        }
        &_rules {
            text-align: right;
            p {
                display: inline-block;
                padding: 0 10px;
                margin: 0;
                border-right: 1px solid $color-white;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    &-posts {
        &_item {
            padding-top: 20px;
            .title {
                font-weight: 600;
            }
            .date {
                font-style: italic;
            }
        }
    }
